:root { 
    --darl-blue: #363f5f;
    --green: #49AA26;
    --lighter-green: #44ff00;
    --light-green: #3dd705;
    --red: #e92929;

    --black-gray:#242529;
    --brown:#94915e;
    --ice:#efeeea;
    --black-blue:#040509;
    --border-gray: #757677;
}

*{
    margin: 0rem;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; 

}

body {
    background-color: var(--black-blue);
    font-family: 'Calibri',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex: 1;
    height: 100vh;
}

header {

    text-align: center;

}
.carrossel {
    width: 22rem;
    overflow:hidden;
    white-space:nowrap;
    background:#2E9ABE;
    list-style:none;
    color: var(--ice);
    margin-top: 2rem;
    background: var(--border-gray);
    border: 1rem solid var(--border-gray);
    border-radius: 0.25rem;
}
 
.carrossel>* {
    display: inline-block;
    width: 100%;
}

.state_graphic {
    
    margin: 0 auto;
    border: 1rem solid var(--black-gray);
    border-radius: 0.5rem;
    color: var(--border-gray);
    background: var(--black-gray);
    width: 22rem;
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.state_graphic p:first-child{
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 800;
}

.state_graphic h2{
    margin-top: 1rem;
    font-size: 30px;
    color: var(--ice);
    
}
.state_graphic span button{
    margin: 0rem;
    margin-top: 1rem;
    color: var(--ice);
    background:  transparent;
    border: 0.3rem solid transparent;
    border-radius: 2rem;
    opacity: 0.75;
    font-size: 13px;
}
.state_graphic span button:focus{
    background:  var(--border-gray);
    border: 0.4rem solid var(--border-gray);
    font-size: 14px;
    opacity: 1;
}

#curve_chart{
    background:transparent;
    position: absolute;
    left:-12%;
    right: 0%;
    top:10%;
    display: inline-block;
    margin: 0 auto !important;
}
.states_moth {
    display:flex;
    flex-direction: row;
    
}
.states_moth *{
    background: var(--black-gray);
}

.states_moth div {
    display: flex;
    flex-direction:column;
    margin: 0.5rem;

    border: 1rem solid var(--black-gray);
    border-radius: 0.5rem;
    background: var(--black-gray);
    color: var(--border-gray);
    align-items: flex-start;
    width: 10.5rem;
}

.states_moth div img {
    width: 25px;
    height: 25px;
}

.price_saving {
    
    font-size: 20px;
    color: var(--brown);
    font-weight: 800;
    
}
.price_expenses {
    
    font-size: 20px;
    color: var(--ice);
    font-weight: 800;
}

path{
    filter: drop-shadow(1px 2px 5px  rgb(243, 240, 240));
    color: rgb(243, 240, 240);
    stroke:aliceblue;
    stroke-width: 3;
}   
g rect {
    opacity: 1;
    fill: var(--border-gray);
    opacity: 0.3;
}
