
:root { 
    --darl-blue: #363f5f;
    --green: #49AA26;
    --lighter-green: #44ff00;
    --light-green: #3dd705;
    --red: #e92929;

    --black-gray:#242529;
    --brown:#94915e;
    --ice:#efeeea;
    --black-blue:#040509;
    --border-gray: #757677;
}
body{
    min-height: 100vh !important;
}
.menu{
    position: sticky;
    bottom: 10vw;  
    background: transparent;
    display: flex;
    align-items:center;
    justify-content: center;
}
.controll_position{
    opacity: 0.95;
    border: 10px solid var(--border-gray);
    border-radius: 1.2rem;
    background: var(--border-gray);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 20rem;
    height:4rem;
}
.controll_position div{
    margin:0.1rem;
}
.list_item{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    font-size: 14px;
    background: var(--border-gray)   
}

.list_item img{
    background-color: var(--border-gray);
    width:30px; 
    height:30px;
}

.list_item span:not(.plusss){
    background-color: var(--border-gray);
    
}
.list_item.color{
    color: var(--ice);
    
}
.list_item.color.up{
    
    position: relative;
}


.plusss{
    
    font-size: 100px;
    position: absolute;
    
    top:-100%;
    left: -20%;
    color: var(--ice);
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: transparent;
    border:0    
}
.plusss ion-icon {
    opacity: 0.9;
    width: 4.5rem;
    height:4.5rem;
    fill: var(--ice);

    border-radius: 2.5rem;
    background-color: var(--brown);
    filter:   drop-shadow(0px 12px 10px #000);
}
.correct-ico-menu {
    background-color: transparent;
    width: 2rem;
    height:2rem;
}
.brown * {
    background-color: transparent;
    color: var(--brown);
    fill: var(--brown)
}