
.swal2-title{
    color: var(--ice);
}
.swal2-popup {
    height: 90%;
    background: var(--border-gray);
}
.swal2-popup *{
    background: transparent;
}
.just{
    width:  100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.many--c {

    height: 100%;
    width:  80%;

}



.work-distrib{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.dro-pwn{
    margin-right: auto;
}
.dist-ref {
    
    margin-top: 5%;
    font-size:1.5rem;
    width: 90%;
}
.distribu-btn{
    width: 20%;
    margin-left: auto;
    
    border: 0rem;
}

.distribu-btn ion-icon {
    fill: var(--ice);
    width: 2.5rem;
    height:2.5rem;
}
.distribu-btn ion-icon:active{
    fill: var(--brown);
}




.sr-only {
    font-size: 20px;
}

.input-group {
    margin-right: auto;
    height: 3rem;

}

.input-group input{
    color: var(--ice);
    background: var(--green);
    height: 3rem;
}
.input-group input {
    background-color: var(--black-blue);
    border: 0.2rem solid var(--border-gray);
    opacity: 50%;
    border-radius:1rem;
    width: vw;
    height: 3rem;
    font-size: 15px;
    font-weight: 500;
    padding-left:10px;
    color: var(--ice);
    padding-left: 3.5rem;
    font-size: 20px;
    font-weight: 800;
    color: var(--red);

    width: 100%;
    padding-left: 1rem;
    
}
.swal2-styled {

    display: flex;
    justify-content:center;
    align-items:center;

    background-color: var(--brown) !important;
    color: var(--ice) !important;
    border: 0.2rem solid var(--border-gray);
    border-radius:1rem;
    width: 60vw;
    height: 3rem;
    font-size: 15px;
    font-weight: 500;
    color: var(--ice);
    font-size: 20px;
    font-weight: 800;
    color: var(--red);
}
.ref-grids{
    background-color: var(--black-blue);
    border: 0.2rem solid var(--border-gray);
    opacity: 50%;
    border-radius:1rem;
    width: vw;
    height: 3rem;
    font-size: 15px;
    font-weight: 500;
    padding-left:10px;
    color: var(--ice);
    padding-left: 3.5rem;
    font-size: 20px;
    font-weight: 800;
    color: var(--red);

    width: 100%;
    padding-left: 1rem;
}

.help {
    color: var(--ice) !important;
}
